img.logo {
    width: 120px;
    margin-right: 20px;
}

#phrMenu li a {
    font-size: 14px;
    text-transform: uppercase;
    color: #111;
    font-weight: 600;
}

div#phrMenu ul li {
    background: #fff;
    margin: 0 5px;
    border-radius: 4px;
    padding: 0 10px;
}

